In [1]:
import pandas as pd
#from api_calls import *

ModuleNotFoundError: No module named 'pandas'

In [3]:
competitors = pd.read_csv('../data/games_info_competitor_2007_2022.csv')

In [4]:
competitors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1633 entries, 0 to 1632
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1633 non-null   int64
 1   competitorId         1633 non-null   int64
 2   competitorName       1633 non-null   object
 3   firstName            1633 non-null   object
 4   lastName             1632 non-null   object
 5   status               1633 non-null   object
 6   postCompStatus       0 non-null      float64
 7   gender               1633 non-null   object
 8   profilePicS3key      1633 non-null   object
 9   countryOfOriginCode  909 non-null    object
 10  countryOfOriginName  898 non-null    object
 11  countryShortCode     0 non-null      float64
 12  regionId             1633 non-null   object
 13  regionName           747 non-null    object
 14  divisionId           1633 non-null   int64
 15  affiliateId          1633 non-null   object
 16  affiliateName        839 non-null    object
 17  age                  1633 non-null   int64
 18  height               1464 non-null   object
 19  weight               1469 non-null   object
 20  teamCaptain          1633 non-null   int64
 21  heightInCm           1464 non-null   float64
 22  weightInKg           1469 non-null   float64
 23  year                 1633 non-null   int64
dtypes: float64(4), int64(6), object(14)
memory usage: 306.3+ KB

In [5]:
competitors[competitors.duplicated(subset="competitorName")]

,Unnamed: 0,competitorId,competitorName,firstName,lastName,status,postCompStatus,gender,profilePicS3key,countryOfOriginCode,...,divisionId,affiliateId,affiliateName,age,height,weight,teamCaptain,heightInCm,weightInKg,year
41,41,2377138,John Murphy,John,Murphy,WD,NaN,M,men-square.jpg,NaN,...,1,None,NaN,0,NaN,NaN,0,NaN,NaN,2007
65,65,10091,Josh Everett,Josh,Everett,ACT,NaN,M,98160-P10091_2-184.jpg,NaN,...,1,None,NaN,33,69 in,185 lb,0,175.3,83.9,2008
66,66,642463,Jeremy Thiel,Jeremy,Thiel,ACT,NaN,M,a69c0-P642463_1-184.jpg,NaN,...,1,None,NaN,26,NaN,205 lb,0,NaN,93.0,2008
73,73,27065,Chris Spealler,Chris,Spealler,ACT,NaN,M,28faf-P27065_3-184.jpg,NaN,...,1,None,NaN,29,65 in,143 lb,0,165.1,64.9,2008
75,75,164070,James Fitzgerald,James,Fitzgerald,ACT,NaN,M,0a1aa-P164070_2-184.jpg,NaN,...,1,None,NaN,34,69 in,176 lb,0,175.3,79.8,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1620,1620,585046,Baylee Rayl,Baylee,Rayl,ACT,NaN,F,412ea-P585046_9-184.jpg,US,...,2,3220,CrossFit Mayhem,26,67 in,135 lb,0,170.2,61.2,2022
1623,1623,1441210,Sydney Michalyshen,Sydney,Michalyshen,CUT,NaN,F,780b2-P1441210_17-184.jpg,CA,...,2,505,CrossFit New England,22,168 cm,155 lb,0,168.0,70.3,2022
1628,1628,314703,Caroline Conners,Caroline,Conners,CUT,NaN,F,93573-P314703_4-184.jpg,US,...,2,1926,CrossFit MF,29,61 in,133 lb,0,154.9,60.3,2022
1631,1631,505225,Michelle Merand,Michelle,Merand,CUT,NaN,F,1a090-P505225_1-184.jpg,ZA,...,2,None,NaN,33,158 cm,60 kg,0,158.0,60.0,2022
1632,1632,484380,Emily Rolfe,Emily,Rolfe,WD,NaN,F,12c96-P484380_4-184.jpg,CA,...,2,22956,CrossFit Sea Level,33,170 cm,152 lb,0,170.0,68.9,2022

In [7]:
events = pd.read_csv('../data/games_info_scores_2007_2022.csv')

In [8]:
events.head()

,Unnamed: 0,ordinal,rank,score,valid,scoreDisplay,scoreIdentifier,mobileScoreDisplay,scaled,video,heat,lane,breakdown,competitorId,year,division,rankReason,scoreIsWeightInKg
0,0,1,2.0,95,1.0,13:39,75881c2cd249b98185a8,NaN,0,0,NaN,NaN,95 pts,164070,2007,1,NaN,NaN
1,1,2,2.0,95,1.0,20:45,bf9d6716056044146079,NaN,0,0,NaN,NaN,95 pts,164070,2007,1,NaN,NaN
2,2,3,11.0,82,1.0,906.4 lb,a355dcd3303b9b861ba0,NaN,0,0,NaN,NaN,82 pts,164070,2007,1,NaN,411.0
3,3,1,1.0,100,1.0,13:07,ed155ea36b3781f16914,NaN,0,0,NaN,NaN,100 pts,57785,2007,1,NaN,NaN
4,4,2,3.0,90,1.0,22:00,b25717e51efa6f0d783d,NaN,0,0,NaN,NaN,90 pts,57785,2007,1,NaN,NaN

In [10]:
competitors_subset = competitors[['competitorId','competitorName','year']]

In [11]:
merged = pd.merge(events, competitors_subset,  how='left', on=['competitorId','year'])# , left_on=['competitorId','year'], right_on = ['B_c1','c2'])

In [12]:
merged.head()

,Unnamed: 0,ordinal,rank,score,valid,scoreDisplay,scoreIdentifier,mobileScoreDisplay,scaled,video,heat,lane,breakdown,competitorId,year,division,rankReason,scoreIsWeightInKg,competitorName
0,0,1,2.0,95,1.0,13:39,75881c2cd249b98185a8,NaN,0,0,NaN,NaN,95 pts,164070,2007,1,NaN,NaN,James Fitzgerald
1,1,2,2.0,95,1.0,20:45,bf9d6716056044146079,NaN,0,0,NaN,NaN,95 pts,164070,2007,1,NaN,NaN,James Fitzgerald
2,2,3,11.0,82,1.0,906.4 lb,a355dcd3303b9b861ba0,NaN,0,0,NaN,NaN,82 pts,164070,2007,1,NaN,411.0,James Fitzgerald
3,3,1,1.0,100,1.0,13:07,ed155ea36b3781f16914,NaN,0,0,NaN,NaN,100 pts,57785,2007,1,NaN,NaN,Brett Marshall
4,4,2,3.0,90,1.0,22:00,b25717e51efa6f0d783d,NaN,0,0,NaN,NaN,90 pts,57785,2007,1,NaN,NaN,Brett Marshall

In [13]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18532 entries, 0 to 18531
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          18532 non-null  int64
 1   ordinal             18532 non-null  int64
 2   rank                17745 non-null  float64
 3   score               18532 non-null  int64
 4   valid               13183 non-null  float64
 5   scoreDisplay        13402 non-null  object
 6   scoreIdentifier     18457 non-null  object
 7   mobileScoreDisplay  0 non-null      float64
 8   scaled              18532 non-null  int64
 9   video               18532 non-null  int64
 10  heat                0 non-null      float64
 11  lane                0 non-null      float64
 12  breakdown           12384 non-null  object
 13  competitorId        18532 non-null  int64
 14  year                18532 non-null  int64
 15  division            18532 non-null  int64
 16  rankReason          4046 non-null   object
 17  scoreIsWeightInKg   1089 non-null   float64
 18  competitorName      18532 non-null  object
dtypes: float64(6), int64(8), object(5)
memory usage: 2.8+ MB

In [17]:
merged[merged['competitorName'] == 'Björgvin Karl Guðmundsson']

,Unnamed: 0,ordinal,rank,score,valid,scoreDisplay,scoreIdentifier,mobileScoreDisplay,scaled,video,heat,lane,breakdown,competitorId,year,division,rankReason,scoreIsWeightInKg,competitorName
6532,6532,1,20.0,47,1.0,37:17.20,5fdfa067836fe94be476,NaN,0,0,NaN,NaN,47 pts,81616,2014,1,NaN,NaN,Björgvin Karl Guðmundsson
6533,6533,2,31.0,26,1.0,316 lb,00977a4d67a0264bc956,NaN,0,0,NaN,NaN,26 pts,81616,2014,1,NaN,143.3,Björgvin Karl Guðmundsson
6534,6534,3,24.0,39,1.0,36:02.96,6b044430da36a40a1aaf,NaN,0,0,NaN,NaN,39 pts,81616,2014,1,NaN,NaN,Björgvin Karl Guðmundsson
6535,6535,4,28.0,19,1.0,1:10.02,d2dd878291c135dea053,NaN,0,0,NaN,NaN,19 pts,81616,2014,1,NaN,NaN,Björgvin Karl Guðmundsson
6536,6536,5,33.0,14,1.0,2:27.62,25ec3c5970ff25dd31f8,NaN,0,0,NaN,NaN,14 pts,81616,2014,1,NaN,NaN,Björgvin Karl Guðmundsson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17533,17533,10,15.0,58,1.0,04:19.68,8d1fc2575411ff4a4879,NaN,0,0,NaN,NaN,58 pts,81616,2022,1,NaN,NaN,Björgvin Karl Guðmundsson
17534,17534,11,21.0,40,1.0,310 lb,9da19087cb0a75958144,NaN,0,0,NaN,NaN,40 pts,81616,2022,1,NaN,140.6,Björgvin Karl Guðmundsson
17535,17535,12,12.0,56,1.0,07:05.05,13176eb96dfa4a01970f,NaN,0,0,NaN,NaN,56 pts,81616,2022,1,NaN,NaN,Björgvin Karl Guðmundsson
17536,17536,13,9.0,68,1.0,01:53.77,729b8f08c899baee40a5,NaN,0,0,NaN,NaN,68 pts,81616,2022,1,NaN,NaN,Björgvin Karl Guðmundsson
17537,17537,14,8.0,72,1.0,08:36.85,c803f3b8c0a45412a38c,NaN,0,0,NaN,NaN,72 pts,81616,2022,1,NaN,NaN,Björgvin Karl Guðmundsson

In [18]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18532 entries, 0 to 18531
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          18532 non-null  int64
 1   ordinal             18532 non-null  int64
 2   rank                17745 non-null  float64
 3   score               18532 non-null  int64
 4   valid               13183 non-null  float64
 5   scoreDisplay        13402 non-null  object
 6   scoreIdentifier     18457 non-null  object
 7   mobileScoreDisplay  0 non-null      float64
 8   scaled              18532 non-null  int64
 9   video               18532 non-null  int64
 10  heat                0 non-null      float64
 11  lane                0 non-null      float64
 12  breakdown           12384 non-null  object
 13  competitorId        18532 non-null  int64
 14  year                18532 non-null  int64
 15  division            18532 non-null  int64
 16  rankReason          4046 non-null   object
 17  scoreIsWeightInKg   1089 non-null   float64
 18  competitorName      18532 non-null  object
dtypes: float64(6), int64(8), object(5)
memory usage: 2.8+ MB

In [43]:
# Group the DataFrame by competitor and year and calculate the sum of scores
scores = merged.groupby(['competitorId', 'competitorName', 'division', 'year']).agg({'score': 'sum'}).reset_index()

# Sort the DataFrame by year and score in ascending order
scores = scores.sort_values(['year', 'score'], ascending=[True,False])

# Create a new column 'rank' in the original DataFrame with the ranks for each year
scores['rank'] = scores.groupby(['division','year'])['score'].rank(method='dense', ascending=False)

# Create a new DataFrame that contains the competitor, year, sum of scores, and rank columns
scores = scores[['division', 'competitorId', 'competitorName', 'year', 'score', 'rank']]

In [45]:
scores[(scores['year'] == 2022) & (scores['division'] == 1)]

      division  competitorId             competitorName  year  score  rank
1441         1        811708            Justin Medeiros  2022   1184   1.0
1480         1        975774           Roman Khrennikov  2022   1157   2.0
692          1         40955               Ricky Garard  2022   1068   3.0
838          1         74320               Samuel Kwant  2022    975   4.0
1296         1        469656              Jeffrey Adler  2022    950   5.0
1032         1        158264            Patrick Vellner  2022    892   6.0
1486         1       1020449              Jayson Hopper  2022    887   7.0
1492         1       1059467                Lazar Đukić  2022    850   8.0
852          1         81616  Björgvin Karl Guðmundsson  2022    841   9.0
1411         1        686308        Guilherme Malheiros  2022    831  10.0
1227         1        310970              Saxon Panchik  2022    803  11.0
47           1          2725                Noah Ohlsen  2022    780  12.0
1015         1        153625                 Cole Sager  2022    733  13.0
1445         1        843041                Nick Mathew  2022    728  14.0
1070         1        173837                Jonne Koski  2022    725  15.0
921          1        107101             Brent Fikowski  2022    707  16.0
1423         1        702092              Willy Georges  2022    688  17.0
9            1          1690               Travis Mayer  2022    685  18.0
1389         1        671093              Dallin Pepper  2022    647  19.0
1038         1        162712            Spencer Panchik  2022    635  20.0
1300         1        472642             Uldis Upenieks  2022    595  21.0
650          1         35627                Will Moorad  2022    574  22.0
498          1         20698            Timothy Paulson  2022    541  23.0
1401         1        680734         Henrik Haapalainen  2022    538  24.0
1091         1        180541             Alex Vigneault  2022    532  25.0
1495         1       1105497           Guillaume Briant  2022    525  26.0
1261         1        371085               André Houdet  2022    508  27.0
1020         1        156156                 Jay Crouch  2022    507  28.0
1162         1        251546            Alexandre Caron  2022    457  29.0
1472         1        929317              Enrico Zenoni  2022    443  30.0
1247         1        337194               Bayden Brown  2022    360  31.0
1398         1        676693             Colten Mertens  2022    344  32.0
1550         1       1718365            Cole Greashaber  2022    341  33.0
1461         1        897110                Tudor Magda  2022    338  34.0
1158         1        251447             Austin Spencer  2022    316  35.0
1471         1        925870              Moritz Fiebig  2022    304  36.0
1311         1        483096            Giorgos Karavis  2022    212  37.0
1308         1        478414           Agustin Richelme  2022    194  38.0
1395         1        672425             Arthur Semenov  2022    125  39.0
1463         1        901467               Kealan Henry  2022     62  40.0

In [53]:
scores[['year','score','rank']][scores['competitorName'] == 'Björgvin Karl Guðmundsson'].sort_values(['rank','score'],ascending=[True,False])

     year  score  rank
849  2019    888   3.0
845  2015    766   3.0
851  2021   1004   4.0
848  2018    834   4.0
847  2017    786   6.0
846  2016    735   8.0
850  2020    405   8.0
852  2022    841   9.0
844  2014    517  25.0

In [64]:
def competitorName_multiple_ranking(competitorName):
  df = scores[['year','score','rank']][
    scores['competitorName'] == competitorName].sort_values(
      ['rank','score'],ascending=[True,False])
  
  return print(df.to_string(index=False))

In [66]:
competitorName_multiple_ranking('Númi Snær Katrínarson')

 year  score  rank
 2012    471  22.0

In [69]:
competitorName_multiple_ranking('Björk Óðinnsdóttir')

Empty DataFrame
Columns: [year, score, rank]
Index: []

In [71]:
competitorName_multiple_ranking('Mathew Fraser')

 year  score  rank
 2020   1805   1.0
 2018   1162   1.0
 2017   1132   1.0
 2016   1096   1.0
 2019    984   1.0
 2015    879   2.0
 2014    875   2.0

In [72]:
competitorName_multiple_ranking('Josh Bridges')

 year  score  rank
 2014    786   4.0
 2013    729   7.0
 2016    678  13.0
 2018    434  29.0
 2017    408  30.0

In [75]:
iceland = competitors['competitorName'][competitors['countryOfOriginCode'] == 'IS'].unique()

In [76]:
len(iceland)

11

In [77]:
iceland

array(['Elvar Þór Karlsson', 'Annie Thorisdottir', 'Helga Torfadóttir',
       'Björgvin Karl Guðmundsson', 'Katrin Tanja Davidsdottir',
       'Ragnheiður Sara Sigmundsdottir', 'Thuridur Erla Helgadottir',
       'Katrín Tanja Davidsdottir', 'Frederick Aegidius',
       'Oddrún Eik Gylfadottir', 'Solveig Sigurdardottir'], dtype=object)